<%- include("partials/header.ejs") %>
<body>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
          <h1 class="display-3 fw-bold">Designed for a simple shopping experience</h1>
          <a href="/store"><button class="btn btn-primary my-4">Shop Now!</button></a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block feature-div"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 features my-5 ">
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
              <svg
        class="bi flex-shrink-0 "
        width="1.5em"
        height="1.5em"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
      </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Simple Selection</h3>
            <p>Our online store provides a simple layout with various tools to help find the item you need. Search, sort, or browse through our offerings to find what you're looking for!</p>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center feature-bg bg-gradient fs-2 mb-3">
              <svg
        class="bi flex-shrink-0 "
        width="1.5em"
        height="1.5em"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 576 512"
      >
      <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>        
    </svg>
      
            </div>
            <h3 class="fs-2 text-body-emphasis">Swift Checkout</h3>
            <p>This secure store utilizes stripe for payments. Stripe offers a safe and smooth checkout process that won't give you any hassles.</p>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
              <svg
              class="bi flex-shrink-0 "
              width="1.5em"
              height="1.5em"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
            <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM164.1 325.5C182 346.2 212.6 368 256 368s74-21.8 91.9-42.5c5.8-6.7 15.9-7.4 22.6-1.6s7.4 15.9 1.6 22.6C349.8 372.1 311.1 400 256 400s-93.8-27.9-116.1-53.5c-5.8-6.7-5.1-16.8 1.6-22.6s16.8-5.1 22.6 1.6zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/>
            </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Satisfying Experience</h3>
            <p>Our store provides an easy to use layout with no gimmicks that is sure to satisfy your shopping needs</p>
          </div>
        </div>
      </div>
    

</body>

<%- include("partials/footer.ejs") %>