<%- include("partials/header.ejs") %>
<div class="container my-5">
    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
      <svg
      class="bi flex-shrink-0 "
      width="2.5em"
      height="4.5em"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
    >
     <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>
      <h1 class="text-body-emphasis">Thank you for your purchase</h1>
      <p class="col-lg-6 mx-auto mb-4">
        You'll receive an email with a tracking number once your order has shipped. Thank you for shopping with simple & swift!
      </p>
      <a href="/">
      <button class="btn btn-primary px-5 mb-5" type="button">
        Return to Simple & Swift Home page
      </button></a>
    </div>
  </div>


<%- include("partials/footer.ejs") %>